.sessions-form {
  background-color: rgb(228, 233, 236);
  padding-top: 48px;

  .control-label, .aux-links {
    font-family: stagsans-book;
  }

  .form-group {
    margin-bottom: 10px;
  }
}

.button-set {
  padding-left: 5;
}
