div#announcement {
  background: rgba(217, 217, 217, 0.1);

  p {
    color: black;
    font-size: 12pt !important; // sufia has the font size for p elements set inline
    padding: 10px;
  }
}

.image-masthead .background-container {
  background-image: none !important;
}

form .listing {
  list-style: none;
}

form .row {
  padding-bottom: 5px;
}

form .field-wrapper:not(:last-child) {
  padding-bottom: 1em;
}

.multi-nested .form-group,
.multi-nested .listing, {
  margin-bottom: 0px;
}

.multi-nested .btn {
  padding-top: 0px;
}

.multi-nested {
  margin-bottom: 1em;
}

.fixedsticky-off, .fixedsticky-on {
  position: sticky !important;
}

form .field-wrapper label[required="required"]::after {
  content: " *";
  color: red;
}
