[submodule "geoblacklight"]
	path = geoblacklight
	url = https://github.com/CottageLabs/geoblacklight.git

[submodule "willow/willow_sword"]
	path = willow/willow_sword
	url = https://github.com/CottageLabs/willow_sword
