[submodule "geoblacklight"]
	path = geoblacklight
	url = https://github.com/CottageLabs/geoblacklight.git

[submodule "willow_sword"]
	path = willow_sword
	url = git@github.com:CottageLabs/willow_sword.git
