<footer class="navbar navbar-inverse" id="footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p>email: <a href="mailto:willow@cottagelabs.com">willow@cottagelabs.com</a></p>
	<p>twitter: <a href="http://twitter.com/cottagelabs">@cottagelabs</a></p>
	<p>Demo built on <a href="sufia.io">Sufia</a> - © 2016 <a href="http://projecthydra.org/" class="navbar-link" target="_blank"> Project Hydra</a>. Licensed under the Apache License, Version 2.0 
        <p>Site template - © Cottage Labs LLP 2011 - 2016, <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <%= t('sufia.footer.copyright_html') %>
      </div>
    </div>
  </div>
</footer>
