<div class="creator-editor">
  <%= f.input :creator,
    as: :person_statement,
    input_html: {
      class: 'form-control',
      multiple: true,
      data: {name: :creator}
    },
    required: f.object.required?(:creator)
  %>
</div>
