<div class="date-editor">
  <%= f.input :date,
    as: :date_statement,
    input_html: {
      class: 'form-control',
      multiple: true,
      data: {name: :date}
    },
    required: f.object.required?(:date)
  %>
</div>
