<div class="multi-nested">
  <%# only output the label and the hint text. wrapper defined in config/initializers/simple_form_rdss.rb %>
  <%= f.input :object_dates, wrapper: :label_and_hint_only %>
  <ul class="listing"><%# normally added by https://github.com/samvera/hydra-editor/blob/master/app/inputs/multi_value_input.rb %>
    <%= f.fields_for :object_dates, @form.object_dates, builder: ::ObjectDateFormBuilder do |od| %>
      <%= render partial: od %>
    <% end %>
  </ul>
  <%= add_another_button :date %>
</div>
