<div class="multi-nested">
  <%# only output the label and the hint text. wrapper defined in config/initializers/simple_form_rdss.rb %>
  <%= f.input :object_person_roles, wrapper: :label_and_hint_only %>
  <ul class="listing">
    <%= f.fields_for :object_person_roles, @form.object_person_roles, builder: ::ObjectPersonRoleFormBuilder do |form| %>
      <%= render partial: form, locals: {required: f.object.required?(:object_person_roles)} %>
    <% end %>
  </ul>
  <%= add_another_button :object_person_role %>
</div>
