<div class="multi-nested">
  <%= f.input :project,
    as: :project_statement,
    input_html: {
      class: '',
      data: {name: :project}
    },
    required: f.object.required?(:project),
    label: 'Project and Funder'
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Project and funder</span>
  </button>
</div>
