<div class="relation-editor">
  <%= f.input :relation, as: :relation_statement, wrapper_html: {class: 'multi_value managed', data: {name: :relation}}, required: f.object.required?(:relation) %>
</div>
