<%
if f.object.model_class == ::Dataset
  options = RdssResourceTypesService.select_all_options
else
  options = ArticleResourceTypesService.select_all_options
end
%>
<div class="resource-type-editor">
  <%= f.input :resource_type,
    as: :multi_value_select,
    collection: options,
    input_html: {
      class: 'form-control',
      prompt: 'Select resource type'
    }
  %>
</div>
