<div class="rights-editor">
  <%= f.input :rights,
    as: :rights_statement,
    input_html: {
      class: 'form-control',
      multiple: true,
      data: {name: :rights}
    },
    required: f.object.required?(:rights)
  %>
</div>
