<div class="rights-nested-editor">
  <%= f.input :rights_nested,
    as: :rights_statement,
    input_html: {
      class: 'form-control',
      multiple: true,
      data: {name: :rights_nested}
    },
    required: f.object.required?(:rights_nested),
    label: 'Rights'
  %>
</div>
