<div class="multi-nested">
  <%= f.input :rights_nested,
    as: :rights_statement,
    input_html: {
      class: '',
      data: {name: :rights_nested}
    },
    required: f.object.required?(:rights_nested)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Rights</span>
  </button>
</div>
