<div class="multi-nested">
  <%= f.input :subject_nested,
    as: :subject_statement,
    input_html: {
      class: '',
      data: {name: :subject_nested}
    },
    required: f.object.required?(:subject_nested),
    label: 'Subject'
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another Subject</span>
  </button>
</div>
