<div class="subject-nested-editor">
  <%= f.input :subject_nested,
    as: :subject_statement,
    input_html: {
      class: 'form-control',
      multiple: true,
      data: {name: :subject_nested}
    },
    required: f.object.required?(:subject_nested)
  %>
</div>
