<%= render '/shared/select_work_type_modal' if create_work_presenter.many? %>
<div class="masthead-container" id="rdss-masthead">
  <div id="masthead-top">
    <div class="container no-pad">
      <div class="navbar-header">
        <span class="label label-warning">ALPHA</span>
      </div>
      <div class="hidden-xs">
      <%= render partial: '/user_util_links' %>
      </div>
    </div>
  </div>
  
  
    <div class="container branding-section">
    <%= render partial: '/logo' %>
    <div id="navbar-col-2">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="pull-right hidden-xs" id="cl-name">
          <%= Hyrax::Institution.name %>
        </div>

      </div>

    </div>
    </div>
  </nav>
</div>