<li class="field-wrapper">
  <div class="form-group-with-margin">
    <%= access_form.access_type %>
  </div>
  <div class="form-group-with-margin">
    <%= access_form.access_statement %>
  </div>
  <%= access_form.destroy %>
  <%= remove_button :access %>
</li>