<div class="form-group-with-margin">
  <%= object_organisation_form.name %>
</div>  
<div class="form-group-with-margin">
  <%= object_organisation_form.address %>
</div>
<div class="form-group-with-margin">  
  <%= object_organisation_form.jisc_id %>
</div>
<div class="form-group-with-margin">  
  <%= object_organisation_form.organisation_type %>
</div>
