<li class="field-wrapper">
  <div class="row">
    <div class="col-md-3">
      <%= object_person_role_form.role_type(required: required) %>
    </div>
    <div class='col-md-3'>
      <%= object_person_role_form.destroy %>
      <%= remove_button :object_person_role %>
    </div>
  </div>
</li>