<li class="field-wrapper">
  <div class="row">
    <div class="col-md-3">
      <%= object_date_form.date_type %>
    </div>
    <div class="col-md-6">
      <%= object_date_form.date_value %>
    </div>
    <div class='col-md-3'>
      <%= object_date_form.destroy %>
      <%= remove_button :date %>
    </div>
  </div>
</li>
