<div class="form-group-with-margin">
  <%= object_organisation_form.jisc_id %>
  <%= object_organisation_form.name %>
  <%= object_organisation_form.address %>
  <%= object_organisation_form.organisation_type %>
</div>
