<footer class="navbar navbar-inverse site-footer" id="footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <p>email: <a href="mailto:willow@cottagelabs.com">willow@cottagelabs.com</a></p>
      <p>twitter: <a href="http://twitter.com/cottagelabs">@cottagelabs</a></p>
      <p>Site template - © Cottage Labs LLP 2011 - 2017, <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a></p>
      <p>Hyrax v<%= Hyrax::VERSION %>. <%= t('hyrax.footer.service_html') %></p>
      <p><%= t('hyrax.footer.copyright_html') %></p>
    </div>
  </div>
</footer>

