<footer class="navbar navbar-inverse site-footer" id="footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <div>email: <a href="mailto:willow@cottagelabs.com">willow@cottagelabs.com</a></div>
      <div>twitter: <a href="http://twitter.com/cottagelabs">@cottagelabs</a></div>
      <div>Site template - © Cottage Labs LLP 2011 - 2017, <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a></div>
      <div>Hyrax v<%= Hyrax::VERSION %>. <%= t('hyrax.footer.service_html') %></div>
      <div><%= t('hyrax.footer.copyright_html') %></div>
    </div>
  </div>
</footer>

